@model MTGCollectionManager.Models.Cards.ViewCard

@{
    ViewData["Title"] = "Card View";
}

<body style="background-color: ghostwhite">

<h1>Details</h1>

<div>
    <h4>Card</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CardName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CardName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>

<div>
    <a asp-controller="Card" asp-action="Edit">Edit Card</a>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>